@charset "utf-8";
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap');
@import './reset.css';
@import './styles.css';
* {
  @apply font-['Satoshi',sans-serif];
}
html,
body,
#lefine {
  @apply h-full w-full bg-black;

}

.page {
  @apply w-full h-full mx-auto max-w-[1500px] pt-28 md:pl-24 px-2;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
