@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

* {
  @apply font-['Manrope',sans-serif]
}

::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-white/10
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent; 
}

html, body, #lefine {
  @apply h-full w-full bg-black
}

.page {
  @apply w-full h-full mx-auto max-w-[1500px] pt-20;
}


.page-enter-active,
.page-leave-active {
  transition: all var(--transiton-time) cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.page-enter-from,
.page-leave-to {
  opacity: 0.2;
  transform: translateY(5rem);
}

.layout-enter-active,
.layout-leave-active {
  transition: all var(--transiton-time) cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.layout-enter-from,
.layout-leave-to {
  opacity: 0;
  transform: translateX(5rem);
}
